.hello {
  list-style: none;
  font: 36px Helvetica, Arial, sans-serif;
  background: #eee;
  padding: 100px;
  text-align: center;
  transition: 100ms ease-in background;
}
.hello:hover {
  background: #ccc;
}

.containerCarsIndex{
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}
.titleContainer{
  text-align: center;
}
.contentContainer{
  padding: 10px
}

.imageCar{
  width: 200px;
  display: block;
}
.imageCarTitle{

}