.hello {
  list-style: none;
  font: 36px Helvetica, Arial, sans-serif;
  background: #eee;
  padding: 100px;
  text-align: center;
  transition: 100ms ease-in background;
}
.hello:hover {
  background: #ccc;
}

.containerCarsIndex{
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  
}
.titleContainer{
  text-align: center;
}
.contentContainer{
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 10px;
  margin: 20px;
}
.contentContainer:hover{
  transform: scale(1.2);
  transition: all 0.3s linear;
}

.imageCar{
  width: 200px;
  display: block;
  height: 150px;
  padding: 5px;
}
.imageCarTitle{

}